@model SiteManagement.Models.Lv

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lv</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PosNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ammount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ammount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasureUnit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
